﻿@model IEnumerable<Node>

@{
    Layout = null;
    var tabId = (int)ViewData["tabId"];
}

@using (Html.BeginForm("SelectTabNode", "Tabs", FormMethod.Post, new {id = tabId}))
{
    <fieldset>
        <legend>Person</legend>
        <table style="width: 100%">
            <tr>
                <th>
                </th>
                <th>
                    Node
                </th>
            </tr>
            @{
                foreach (Node node in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="NodeIds" id="Node_@node.NodeId" value="@node.NodeId" />
                        </td>
                        <td>
                            @node.Name
                        </td>
                    </tr>
                }
            }
        </table>
        <br />
        <div style="float: right">
            <button type="submit" id="btnUpdate" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Update</span>
            </button>
            &nbsp; &nbsp;
            <button type="button" id="btncancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Cancel</span>
            </button>
        </div>
    </fieldset>
}