﻿@model Poc.Core.Entities.AdminModule.Tab

@{
    ViewBag.Title = "Create Tab";
    
}

<h2>Create New Tab</h2>

@using (Html.BeginForm("Create","Tabs",FormMethod.Post,new {id="tabform"} ))
{
    <fieldset>
        <legend>@GlobalResources.GeneralLabel</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.TabName, "Tab Name")
                @Html.EditorFor(model => model.TabName)
            </li>
            <li>
                @Html.LabelFor(model => model.ControllerName, "Controller")
                @Html.EditorFor(model => model.ControllerName)
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <legend>Authorization</legend>
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                        int count = 0;
                        foreach (Role role in (IEnumerable<Role>) ViewData["Roles"])
                        {
                            if (count++%3 == 0)
                            {
                                @:</tr><tr>
                            }
                            @:<td>
                            <input type="checkbox" name="RoleIds" id="Role_@role.RoleId" value="@role.RoleId" />
                            @role.Name
                            @:</td>
                        }
                        @:</tr>
                    }
                </table>
            </div>
        </fieldset>
    <div id="buttonpanel">
        <input type="submit" value="Create" />
    </div>
   
}
 @section scripts
 {
   @Html.ClientSideValidation(ViewData.Model, "tabform");  
 }
