﻿@using System.Web.UI.WebControls
@model Poc.Core.Entities.AdminModule.Tab

@{
    ViewBag.Title = "Edit";
}

@section headsection
{
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
}

<h2>Edit Tab</h2>

@using (Html.BeginForm("Edit", "Tabs", new {id = Model.TabId}, FormMethod.Post, new {id = "tabform"}))
{
    <fieldset>
        <legend>@GlobalResources.GeneralLabel</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.TabName, "Tab Name")
                @Html.EditorFor(model => model.TabName)
            </li>
            <li>
                @Html.LabelFor(model => model.ControllerName, "Controller")
                @Html.EditorFor(model => model.ControllerName)
            </li>
        </ol>
    </fieldset>

    <fieldset>
        <legend>Authorization</legend>
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                @{
                    int count = 0;
                    foreach (Role role in (IEnumerable<Role>) ViewData["Roles"])
                    {
                        if (count++%3 == 0)
                        {
                            @:</tr><tr>
                        }
                        @:<td>
                        <input type="checkbox" name="RoleIds" id="Role_@role.RoleId" value="@role.RoleId" @Html.Raw(Model.ViewAllowed(role) ? "checked=\"checked\"" : "") />
                        @role.Name
                        @:</td>
                    }
                    @:</tr>
                }
            </table>
        </div>
    </fieldset>
    <div id="buttonpanel">
        <input type="submit" value="Save" />
    </div>
}
 <fieldset>
    <legend>Tab Nodes [@Html.ActionLink(" Select Node ", "SelectTabNode", new { id = Model.TabId }, new { id = "btnSelectNode" })]</legend>
    <table class="grid" style="width: 100%">
        <tr>
            <th>
                Node Name
            </th>
            <th>
                Url
            </th>
            <th>Is Active</th>
            @foreach (Role role in (IEnumerable<Role>)ViewData["Roles"])
            {
                <th>
                    @role.Name
                </th>
            }
            <th></th>
        </tr>
        @foreach (var item in Model.Pages.OrderBy(x=>x.Position))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Node.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Node.ControllerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @foreach (Role role in (IEnumerable<Role>) ViewData["Roles"])
                    {
                        <td>
                            <input type="checkbox" disabled="disabled" @Html.Raw(item.Node.HasPermission(role) ? "checked=\"checked\"" : String.Empty) />
                        </td>
                    }
                <td>
                    @if (item.Position > 0)
                    {
                        @Html.ActionLink("UP", "MoveNode", new {id = Model.TabId, nodeid = item.PageId, direction = "up"}) @:|
                    }
                    @if (item.Position < Model.Pages.Count-1)
                    {
                        @Html.ActionLink("Down", "MoveNode", new {id = Model.TabId, nodeid = item.PageId, direction = "down"}) @:|
                    }
                    @using (Html.BeginForm("DeleteTabNode", "Tabs", new { id = Model.TabId, nodeid = item.PageId }, FormMethod.Post))
                    {
                        <a href="#" class="abtndelete">@GlobalResources.DeleteButtonLabel </a>
                    }
                </td>
            </tr>
        }

    </table>
</fieldset>
      
<div id="dialog-edit" style="display: none">
</div>

@section scripts
{
    @Html.ClientSideValidation(ViewData.Model, "tabform");
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnSelectNode").live("click", function (e) {
                // e.preventDefault(); use this or return false
                var url = $(this).attr('href');
                $("#dialog-edit").dialog({
                    title: 'Add Nodes',
                    autoOpen: false,
                    resizable: false,
                    height: 355,
                    width: 400,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    open: function (event, ui) {
                        $(this).load(url);

                    },
                    close: function (event, ui) {
                        $(this).dialog('close');
                    }
                });

                $("#dialog-edit").dialog('open');
                return false;
            });

            $("#btncancel").live("click", function (e) {
                // location.reload(true);
                $("#dialog-edit").dialog('close');

            });
        });
    </script>
}