﻿#taskarea
{
	margin-left: 5px;
	position: relative;
   
}

.taskcontainer
{
	border: 1px solid #ccc;
	padding: 3px 5px;
	background-color: #eef;
    min-height: 40px;
}

.taskcontainer p
{
	margin: 3px 0;
}

.taskcontainer label
{
	line-height: 20px;
}
/*
.taskcontainer input[type=text]
{
	width: 90%;
}

.taskcontainer select
{
    width: 90%;
	border: 1px solid #666;
	padding: 4px;
}
*/

.taskareatab 
{
    margin-left: 15px;
    list-style: none;
}

#taskarea a {
    display: block;
    background-repeat: no-repeat;
    background-position: left;
}

#taskarea a:hover
{
	background-color: #fff;
	text-decoration: none;
}

.taskareatab a
{
	display: block;
	padding: 5px 5px;
	border-bottom: 1px solid #ddd;
}

.taskareatab a:hover
{
	background-color: #fff;
	text-decoration: none;
}
#taskarea a.createlink
{	
	background-image: url(../Images/add.png);
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
}

#taskarea a.refreshlink
{
	background-image: url(../Images/arrow_refresh.png);
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
}

#taskarea a.designlink
{
	background-image: url(../Images/layout_edit.png);
    border-bottom: 1px solid #ddd;
}

#taskarea a.aliaslink
{
	background-image: url(../Images/world_link.png);
}

#taskarea a.contentlink
{
	background-image: url(../Images/pencil.png);
    border-bottom: 1px solid #ddd;
}

#taskarea a.expandlink
{
	background-image: url(../Images/section_collapsed.png);
}

#taskarea a.collapselink
{
	background-image: url(../Images/section_expanded.png);
	background-color: #369;
	padding: 5px 20px;
	color: #fff;
}
#taskarea h3 
{
    background-repeat: no-repeat;
	background-color: #369;
	padding: 5px 30px;
	color: #fff; 
}
#taskarea h3.tabarea
{
	background-image: url(../Images/tabs.png);
   
}

#taskarea h3.rolearea
{
	background-image: url(../Images/role.png);
  
}

#taskarea h3.nodearea
{
	background-image: url(../Images/node.png);
  
}

#taskarea h3.userarea
{
	background-image: url(../Images/user.png);
  
}

#taskarea a.deletelink
{
	display: block;
	background-image: url(../Images/delete.png);
	background-repeat: no-repeat;
	background-position: left;
	padding: 5px 20px;
}

/*move the taskbarbuttons to the right*/
/*
#taskarea .abtncreate, #taskarea .abtncancel, #taskarea .abtnsave, #taskarea .abtnupload
{
    margin-top: 8px;
    margin-left: 158px;  
}

*/