﻿@model Poc.Core.Entities.AdminModule.Node

@{
    ViewBag.Title = "Create";
}

<h1>Create Node</h1>

@using (Html.BeginForm("Create", "Nodes", FormMethod.Post, new { id = "nodeform" }))
{
    <fieldset>
        <legend>Node</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.Name,"Name")
                @Html.EditorFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
            </li>
            <li>
                @Html.LabelFor(model => model.ControllerName, "Controller")
                @Html.EditorFor(model => model.ControllerName)
            </li>
            <li>
                @Html.LabelFor(model => model.ActionName, "Action")
                @Html.EditorFor(model => model.ActionName)
            </li>
            <li>
                @Html.LabelFor(model => model.ShowInNavigation, "Show In Navigation")
                @Html.EditorFor(model => model.ShowInNavigation)
            </li>
        </ol>
    </fieldset>
    Html.RenderPartial("RoleSelector", ViewData.Model, ViewData); 
    <div id="buttonpanel">
        <input type="submit" class="abtnsave" value="@GlobalResources.SaveButtonLabel " /><strong> @GlobalResources.Or </strong> @Html.ActionLink(GlobalResources.CancelLabel, "Index", "Nodes", new { @class = "abtncancel" })
    </div>

}

