﻿@model Poc.Core.Entities.AdminModule.Node

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Node</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ControllerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ControllerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShowInNavigation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShowInNavigation)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NodeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
