﻿@model Poc.Core.Entities.AdminModule.Node

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Nodes",new { id = Model.NodeId }, FormMethod.Post, new { id = "nodeform" }))
{
    <fieldset>
        <legend>Node</legend>
        <ol>
            <li>
                @Html.LabelFor(model => model.Name, "Node Name")
                @Html.EditorFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.Description)
                @Html.EditorFor(model => model.Description)
            </li>
            <li>
                @Html.LabelFor(model => model.ControllerName, "Controller Name")
                @Html.DisplayTextFor(model => model.ControllerName)
            </li>
            <li>
                @Html.LabelFor(model => model.ActionName, "Action Name")
                @Html.DisplayTextFor(model => model.ActionName)
            </li>
            <li>
                @Html.LabelFor(model => model.ShowInNavigation, "Show In Navigation")
                @Html.EditorFor(model => model.ShowInNavigation)
            </li>
        </ol>
    </fieldset>
    Html.RenderPartial("RoleSelector", ViewData.Model, ViewData);
    <div id="buttonpanel">
        <input type="submit" class="abtnsave" value="@GlobalResources.SaveButtonLabel " /><strong>@GlobalResources.Or </strong> @Html.ActionLink(GlobalResources.CancelLabel, "Index", "Nodes", new { @class = "abtncancel" })
    </div>

}

