﻿@model IEnumerable<Node>

@{
    ViewBag.Title = "Index";
}

@section cphTasks
{
    <h2>@GlobalResources.TasksLabel </h2>
    @Html.ActionLink(GlobalResources.CreateNodeLabel, "Create", "Nodes", null, new {@class = "createlink"})
    @Html.ActionLink(GlobalResources.ImportNodeLabel, "PermissionsImport", "Nodes", null, new { @class = "createlink" })
}
<h1>@GlobalResources.ManageNodesPageTitle </h1>
    <table class="grid" style="width: 100%">
        <tr>
            <th>
                Node Name
            </th>
            <th>
                Controller Name
            </th>
            <th>
                Action Name
            </th>

            <th>
                Show In Navigation
            </th>
            @foreach (Role role in (IEnumerable<Role>)ViewData["Roles"])
            {
                <th>
                    @role.Name
                </th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ControllerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowInNavigation)
                </td>
                @foreach (Role role in (IEnumerable<Role>)ViewData["Roles"])
                {
                    <td>
                        @{ string s = item.HasPermission(role) ? "checked" : String.Empty; }
                        <input type="checkbox" disabled="disabled" @s />
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.NodeId }) |
                    @using (Html.BeginForm("Delete", "Nodes", new { id = item.NodeId }, FormMethod.Post))
                    {
                        <a href="#" class="abtndelete">@GlobalResources.DeleteButtonLabel </a>
                    }
                </td>
            </tr>
        }

    </table>
