﻿
@model Node

<fieldset style="border:none">
    <li>
        <fieldset>
            <legend>@GlobalResources.RolesLabel</legend>
            <ol>
                @foreach (Role role in (IEnumerable<Role>)ViewData["Roles"]) 
                { 
                    <li>
                        @{ string s = Model.HasPermission(role) ? "checked" : String.Empty; }
                        <input type="checkbox" name="RoleIds" id="Role_@role.RoleId"  value="@role.RoleId" @s />
                        <label for="Role_@role.RoleId">@role.Name</label>
                    </li>
                 }
            </ol>
        </fieldset>
    </li>
</fieldset>