﻿@model AppUser
<table>
    <tr>
        @{
            int count = 0;
            foreach (Facility fac in (IEnumerable<Facility>)ViewData["Facilitys"])
            {
                if (count++ % 3 == 0)
                {
                    @:</tr><tr>
                        }
                        @:<td>
                            <input type="checkbox" name="facilityIds" id="Faci_@fac.FacilityId" value="@fac.FacilityId" @Html.Raw(Model.CanView(fac) ? "checked=\"checked\"" : "") />
                            @fac.FacilityName
                            @:</td>
                    }
                    @:</tr>
        }
    </table>

