﻿@model AppUser

@{
    var area1 = (Area)ViewData["AreaLevel1"];
    var area2 = (Area)ViewData["AreaLevel2"];
    var area3 = (Area)ViewData["AreaLevel3"];
}

<fieldset>
    <legend>Facilities</legend>
    <table>
        <tr>
            <td>@area1.Name</td>
            <td>@Html.DropDownList("LevelOnePocAreaId", ViewData["LevelOnePocAreas"] as SelectList,
                   new
                 {
                     onchange = "OnPocAreaDropFilter(this)",
                     data_Filter_Url = @Url.Action("OnFacilityAreaTwoFilter", "Users", new { id = Model.AppUserId }),
                     data_update_container = "#divLevelTwoParea",
                     data_update_id = "#divPocAreas,#divLevelThreeParea"
                 })
            </td>
            <td>@area2.Name</td>
            <td>
                <div id="divLevelTwoParea">
                    @if (area3 == null)
                    {
                        @Html.DropDownList("LevelTwoPocAreaId", ViewData["LevelTwoPocAreas"] as SelectList,
                            new
                            {
                                onchange = "OnPocAreaDropFilter(this)",
                                data_Filter_Url = @Url.Action("OnFacilityFilter", "Users", new {id = Model.AppUserId}),
                                data_update_container = "#divPocAreas"
                            })
                    }
                    else
                    {
                        @Html.DropDownList("LevelTwoPocAreaId", ViewData["LevelTwoPocAreas"] as SelectList,
                            new
                            {
                                onchange = "OnPocAreaDropFilter(this)",
                                data_Filter_Url = @Url.Action("OnPocAreaThreeFilter", "Users", new {id = Model.AppUserId}),
                                data_update_container = "#divLevelThreeParea",
                                data_update_id = "#divPocAreas"
                            })
                    }
                </div>
            </td>
            @if (area3 != null)
            {
                @:<td>@area3.Name</td>
                @:<td>
                    @:<div id="divLevelThreeParea">
                        @Html.DropDownList("LevelThreePocAreaId", ViewData["LevelThreePocAreas"] as SelectList,
                        new
                        {
                            onchange = "OnPocAreaDropFilter(this)",
                            data_Filter_Url = @Url.Action("OnFacilityFilter", "Users", new { id = Model.AppUserId }),
                            data_update_container = "#divPocAreas"
                        })
                    @:</div>
                @:</td>
            }
        </tr>
    </table>

    <div id="divPocAreas">
        @{ Html.RenderPartial("_FacilitySelector", ViewData.Model, ViewData); }
    </div>
    </fieldset>
