﻿@model AppUser

@{
    var area1 = (Area)ViewData["AreaLevel1"];
    var area2 = (Area)ViewData["AreaLevel2"];
    var area3 = (Area)ViewData["AreaLevel3"];
}

<fieldset>
    <legend>@area3.Name</legend>
    <table>
        <tr>
            <td>@area1.Name</td>
            <td style="width: 150px">
                @Html.DropDownList("LevelOnePocAreaId", ViewData["LevelOnePocAreas"] as SelectList,
            new
            {
                onchange = "OnPocAreaDropFilter(this)",
                data_Filter_Url = @Url.Action("OnPocAreaTwoFilter", "Users", new { id = Model.AppUserId }),
                data_update_container = "#divLevelTwoParea",
                data_update_id = "#divPocAreas"
            })
        </td>
        <td>@area2.Name</td>
            <td style="width: 150px">
                <div id="divLevelTwoParea">
                    @Html.DropDownList("LevelTwoPocAreaId", ViewData["LevelTwoPocAreas"] as SelectList,
                new
                {
                    onchange = "OnPocAreaDropFilter(this)",
                    data_Filter_Url = @Url.Action("OnPocAreaFilter", "Users", new { id = Model.AppUserId }),
                    data_update_container = "#divPocAreas"
                })
                </div>
            </td>

    </tr>
</table>

    <div id="divPocAreas">
        @{ Html.RenderPartial("_PocAreaSelector", ViewData.Model, ViewData); }
    </div>
    </fieldset>
