﻿@model AppUser

@{
    var parea = (Area)ViewData["AreaLevel1"];
}
<fieldset>
    <legend>@parea.Name</legend>
    <div id="divPocAreas">
        @{ Html.RenderPartial("_PocAreaSelector", ViewData.Model, ViewData); }
    </div>
    </fieldset>