﻿@model AppUser

@{
    var area1 = (Area)ViewData["AreaLevel1"];
    var area2 = (Area)ViewData["AreaLevel2"];
}

<fieldset>
    <legend>@area2.Name</legend>
    <table>
        <tr>
            <td>@area1.Name</td>
            <td>
                @Html.DropDownList("LevelOnePocAreaId", ViewData["LevelOnePocAreas"] as SelectList, 
                new
                {
                    onchange = "OnPocAreaDropFilter(this)", 
                    data_Filter_Url = @Url.Action("OnPocAreaFilter", "Users", new { id = Model.AppUserId }),
                    data_update_container = "#divPocAreas"
                })
            </td>
        </tr>
    </table>
    <div id="divPocAreas">
        @{ Html.RenderPartial("_PocAreaSelector", ViewData.Model, ViewData); }
    </div>
</fieldset>