﻿@model AppUser
<table>
    <tr>
        @{
            int count = 0;

            foreach (PocArea parea in (IEnumerable<PocArea>)ViewData["PocAreas"])
            {
                if (count++%3 == 0)
                {
                    @:</tr><tr>
                }
                @:<td style="width: 150px">
                <input type="checkbox" name="pocAreaIds" id="Area_@parea.Id" value="@parea.Id" @Html.Raw(Model.CanView(parea) ? "checked=\"checked\"" : "") />
                @parea.Name
                @:</td>
            }
            @:</tr>
        }
    </table>

