﻿@using Poc.Web.Mvc
@model AppUser

@{
    ViewBag.Title = GlobalResources.EditUserPageTitle;
}

	<h1>@GlobalResources.EditUserPageTitle </h1>
	@using (Html.BeginForm("Update", "Users", new {id = Model.AppUserId}, FormMethod.Post, new {id = "userform"}))
	{
	    <fieldset>
	        <legend>@GlobalResources.GeneralLabel</legend>
	        <ol>
	            <li>
	                <label for="UserName">@GlobalResources.UsernameLabel</label>
	                @ViewData.Model.UserName
	            </li>

	            @{ Html.RenderPartial("SharedUserFormElements", ViewData.Model, ViewData); }
	        </ol>
	    </fieldset>
        Html.RenderPartial("RoleSelector", ViewData.Model, ViewData);
    <div id="diAreaContainer">
        @{
                var rightId = (int)ViewData["areaAccessRightId"];
                if (rightId == 1)
                {
                    Html.RenderPartial("_LevelOne", ViewData.Model, ViewData);
                }
                else if (rightId == 2)
                {
                    Html.RenderPartial("_LevelTwo", ViewData.Model, ViewData);
                }
                else if (rightId == 3)
                {
                    Html.RenderPartial("_LevelThree", ViewData.Model, ViewData);
                }
                else if (rightId == 4)
                {
                    Html.RenderPartial("_LevelFacility", ViewData.Model, ViewData);
                }
        }
    </div>
        

	    <div id="buttonpanel">
	        <input type="submit" class="abtnsave" value="@GlobalResources.SaveButtonLabel " /> <strong>@GlobalResources.Or </strong> @Html.ActionLink(GlobalResources.CancelLabel, "Index", "Users", new {@class = "abtncancel"})
	    </div>
	    
	} 

	@using (Html.BeginForm("ChangePassword", "Users", new {id = Model.AppUserId}, FormMethod.Post, new {id = "passwordform"}))
	{
	    <fieldset>
	        <legend>@GlobalResources.ChangePasswordLabel</legend>
	        <ol>
	            <li>
	                <label for="Password">@GlobalResources.PasswordLabel</label>
	                @Html.Password("Password", String.Empty)
	            </li>
	            <li>
	                <label for="PasswordConfirmation">@GlobalResources.ConfirmPasswordLabel</label>
	                @Html.Password("PasswordConfirmation", String.Empty)
	            </li>
	        </ol>
	    </fieldset>

	    <div id="buttonpanel">
	        <input type="submit" class="abtnchangepassword" value="@GlobalResources.ChangePasswordLabel " /> <strong>@GlobalResources.Or </strong> @Html.ActionLink(GlobalResources.CancelLabel, "Index", "Users", new {@class = "abtncancel"})
	    </div>

	    
	}
@section scripts
{
    @Html.ClientSideValidation(ViewData.Model, "userform")
    @Html.ClientSideValidation(ViewData.Model, "passwordform")

    @*<script type="text/javascript">
        $(document).ready(function ()
        {
            $("#ddlAreaAccessRight").change(function () {
                var rightid = $("#ddlAreaAccessRight").val();
                $("#diAreaContainer").load('@(Url.Action("OnAccessRightFilter", "Users", new { id = Model.AppUserId }, Request.Url.Scheme))?rightId='+ rightid);
            });
        });
    </script>*@
}
