﻿@using Poc.Web.Mvc
@model Poc.Core.Entities.AdminModule.Role
@{
    ViewBag.Title = GlobalResources.EditRolePageTitle;
}

	<h1>@GlobalResources.EditRolePageTitle</h1>
	@using (Html.BeginForm("UpdateRole", "Users", new {id = Model.RoleId}, FormMethod.Post, new {id = "roleform"}))
	{
	    <fieldset>
	        <legend>@GlobalResources.GeneralLabel</legend>
	        <ol>
	            <li>
	                <label for="role.Name">@GlobalResources.RoleLabel</label>
	                @Html.TextBox("role.Name", Model.Name)
	            </li>
	            <li>
	                <label for="role.IsSysAdmin">@GlobalResources.IsGlobalLabel</label>
	                @Html.CheckBox("role_IsSysAdmin", Model.IsSysAdmin)
			
	            </li>
	        </ol>
	    </fieldset>
	    <div id="buttonpanel">
	        <input type="submit" class="abtnsave" value="@GlobalResources.SaveButtonLabel" /> 
	        <string>@GlobalResources.Or</string> 
	        @Html.ActionLink(GlobalResources.CancelLabel, "Roles", "Users", new {@class = "abtncancel"})
	    </div>
	}
@section scripts
{
    @Html.ClientSideValidation(ViewData.Model, "roleform", prop => "'role." + prop + "'")
}
