﻿@using Poc.Web.Mvc.Paging

@model IPagedList<Poc.Core.Entities.AdminModule.AppUser>

@{
    ViewBag.Title = "PocLAB Manager :: " + GlobalResources.ManageUsersPageTitle;
}

@section cphTasks
{
    <h2>@GlobalResources.TasksLabel </h2>
    @Html.ActionLink(GlobalResources.CreateUserLabel, "New", "Users", null, new { @class = "createlink" })
}
    <h1>@GlobalResources.ManageUsersPageTitle </h1>
    @using (Html.BeginForm("Browse", "Users", FormMethod.Get, new {id = "usersearchform"}))
    {
        <label for="username">@GlobalResources.UsernameLabel </label>
        @Html.TextBox("username", ViewData["username"])
        <label for="roleid">@GlobalResources.RoleLabel </label>
        @Html.DropDownList("roleid", ViewData["roles"] as SelectList, GlobalResources.OptionAll)
        <label for="isactive">@GlobalResources.IsActiveLabel </label>
        @Html.DropDownList("isactive", ViewData["isactiveoptions"] as SelectList, GlobalResources.OptionAll)
       
        <input type="submit" class="abtnfilter" value="@GlobalResources.FilterButtonLabel " />
        
    }
    <br />
    @if (ViewData.Model.Count > 0)
    {
        <table class="grid" style="width: 100%">
            <thead>
                <tr>
                    <th>@GlobalResources.UsernameLabel </th>
                    <th>@GlobalResources.EmailLabel </th>
                    <th>@GlobalResources.IsActiveLabel </th>
                    <th>@GlobalResources.LastLoginLabel </th>
                    <th>@GlobalResources.LastLoginfromLabel </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in ViewData.Model)
                {
                    <tr>
                        <td>@user.UserName </td>
                        <td>@user.Email </td>
                        <td>@user.IsActive </td>
                        <td>@user.LastLogin </td>
                        <td>@user.LastIp </td>
                        <td>
                            @Html.ActionLink(GlobalResources.EditLabel, "Edit", new {id = user.AppUserId}, new {@class = "abtnedit"})
                            @using (Html.BeginForm("Delete", "Users", new {id = user.AppUserId}, FormMethod.Post))
                            {
                                <a href="#" class="abtndelete">@GlobalResources.DeleteButtonLabel </a>
                            } 
                        </td>
                    </tr>
                } 
            </tbody>
        </table>
        <div class="pager">
            @MvcHtmlString.Create(Html.Pager(ViewData.Model.PageSize, ViewData.Model.PageNumber, ViewData.Model.TotalItemCount, new {username = ViewData["username"], roleid = ViewData["roleid"], isactive = ViewData["isactive"], globalsearch = ViewData["globalsearch"]}))
        </div>
    }
    else
    {
        @GlobalResources.NoUsersFound
    } 
