﻿@using Poc.Web.Mvc
@model Poc.Core.Entities.AdminModule.Role
@{
    ViewBag.Title = "PocLAB Manager :: " + GlobalResources.NewRolePageTitle;
}
	<h1>@GlobalResources.NewRolePageTitle </h1>
	@using (Html.BeginForm("CreateRole", "Users", FormMethod.Post, new {id = "roleform"}))
	{
	    <fieldset>
	        <legend>@GlobalResources.GeneralLabel</legend>
	        <ol>
	            <li>
	                <label for="role.Name">@GlobalResources.NameLabel</label>
	                @Html.TextBox("role.Name", Model.Name)
	            </li>
	            <li>
	                <label for="role.IsSysAdmin">@GlobalResources.IsGlobalLabel</label>
	                @Html.CheckBox("role.IsSysAdmin", Model.IsSysAdmin)
	            </li>
				 
	        </ol>
	    </fieldset>
	    <input type="submit" value="@GlobalResources.SaveButtonLabel " />
	    @GlobalResources.Or
	    @Html.ActionLink(GlobalResources.CancelLabel, "Roles", "Users")
        
    }
@section scripts
{
    @Html.ClientSideValidation(ViewData.Model, "roleform", prop => "'role." + prop + "'")
}
