﻿@model ICollection<Role>

@{
    ViewBag.Title = "PocLAB Manager :: " + GlobalResources.ManageRolesPageTitle;
}

@section cphTasks
{
    <h2>@GlobalResources.TasksLabel </h2>
    @Html.ActionLink(GlobalResources.CreateRoleLabel, "NewRole", "Users", null, new {@class = "createlink"})
}

	<h1>@GlobalResources.ManageRolesPageTitle </h1>
	 @if (ViewData.Model.Count > 0)
	 {
	     <table class="grid" style="width: 100%">
	         <thead>
	             <tr>
	                 <th>@GlobalResources.RoleLabel </th>
	                 <th>@GlobalResources.IsGlobalLabel</th>
	                 <th>&nbsp;</th>
	             </tr>
	         </thead>
	         <tbody>
	             @foreach (var role in ViewData.Model)
	             {
	                 <tr>
	                     <td>@role.Name </td>
	                     <td>@role.IsSysAdmin</td>	
	                     <td style="white-space: nowrap">
	                         @Html.ActionLink(GlobalResources.UsersLabel, "Browse", new {roleid = role.RoleId}, new {@class = "abtnbrowseuser"})
	                         @Html.ActionLink(GlobalResources.EditLabel, "EditRole", new {id = role.RoleId}, new {@class = "abtnedit"}) 
	                         @using (Html.BeginForm("DeleteRole", "Users", new { id = role.RoleId }, FormMethod.Post))
	                         { 
	                         <a href="#" class="abtndelete">@GlobalResources.DeleteButtonLabel </a>
	                         }
	                     </td>
	                 </tr>
	             } 
	         </tbody>
	     </table>
	 }
	 else
	 {
	     @GlobalResources.NoRolesFound
	 }

