﻿@model  Poc.Core.Entities.AdminModule.AppUser
<li>
	<label for="FirstName">@GlobalResources.FirstNameLabel</label>
	@Html.TextBox("FirstName", Model.FirstName, new {style = "width:300px"})
</li>
<li>
	<label for="LastName">@GlobalResources.LastNameLabel</label>
	@Html.TextBox("LastName", Model.LastName, new {style = "width:300px"})
</li>
<li>
	<label for="Email">@GlobalResources.EmailLabel</label>
	@Html.TextBox("Email", Model.Email, new {style = "width:300px"})
</li>
<li>
    <label for="IsActive">@GlobalResources.IsActiveLabel</label>
    @Html.CheckBox("IsActive", Model.IsActive)
</li>
<li>
    <label for="AreaAccessRightId">@GlobalResources.AreaAccessRightLabel </label>
    @Html.DropDownList("AreaAccessRightId", ViewData["AreaAccessRights"] as SelectList, 
    new
    {
        onchange = "OnPocAreaDropFilter(this)",
        data_Filter_Url = @Url.Action("OnAccessRightFilter", "Users", new { id = Model.AppUserId }, Request.Url.Scheme),
        data_update_container = "#diAreaContainer"
    })
</li>

