﻿@using Poc.Web.Mvc
@model LoginViewData

@{
    Layout = "../shared/_LayoutDefault.cshtml";
    ViewBag.Title = GlobalResources.LoginPageTitle;
}
	
<div id="loginpanel">
    <h1>@GlobalResources.LoginPageTitle</h1>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new {id="loginform"}))
    {
        @Html.Hidden("ReturnUrl", ViewData["ReturnUrl"])
        <fieldset>
            <ol>
                <li>
                    <label for="Username">@GlobalResources.UsernameLabel</label>
                    @Html.TextBox("Username")
                </li>
                <li>
                    <label for="Password">@GlobalResources.PasswordLabel</label>
                    @Html.Password("Password")
                </li>
            </ol>
        </fieldset>
		    
        <input type="submit" value="Login" />
    }
</div>

@section scripts
{
    @Html.ClientSideValidation(ViewData.Model, "loginform")
}
