﻿<br/>
<h3 class="tabarea">Tabs</h3>
<div class="taskcontainer">
        @if (ViewData.ContainsKey("PocTabs"))
        {
            <div class="taskareatab">
                <ul>
                    @foreach (Tab tab in (List<Tab>)ViewData["PocTabs"])
                    {
                        <li>
                            @Html.ActionLink(tab.TabName, "Edit", "Tabs", new { id = tab.TabId }, null)
                        </li>
                    }
                </ul>
            </div>
        }
        @Html.ActionLink("Add a new tab", "Create", "Tabs")
    
</div>

<br />
<h3 class="nodearea">Nodes</h3>
<div class="taskcontainer">
    <br/>
    <ul>
        <li>
            @Html.ActionLink("Manage Nodes", "Index", "Nodes")
        </li>
    </ul>
</div>
<br/>
<h3 class="rolearea">Roles</h3>
<div class="taskcontainer">
    <br/>
    <ul>
            <li>
                @Html.ActionLink("Manage Roles", "Roles", "Users")
            </li>
        </ul>
</div>
<br/>
<h3 class="userarea">Users</h3>
<div class="taskcontainer">
    <br/>
    <ul>
            <li>
                @Html.ActionLink("Manage Users", "Index", "Users")
            </li>
        </ul>
</div>