﻿<div id="header">
	<img height="60" width="172" alt="Poc logo" src="@Url.Content("~/Content/Images/Poc-logo.png")"/>
	@if (ViewData.ContainsKey("PocUser"))
	{
	    <div id="userinfo">
	        @GlobalResources.LoggedInAsLabel  @MvcHtmlString.Create(((AppUser)(ViewData["PocUser"])).FullName) 
             <br/>
	        @Html.ActionLink(GlobalResources.LogoutButtonLabel, "Logout", "Login") 
	    </div>
	}
	<p>@GlobalResources.PocSiteManagerLabel </p>
</div>