﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PocLAB Manager :: @ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            Url = function () { }
            Url.prototype= {
                _relativeRoot: '@VirtualPathUtility.ToAbsolute("~/")',
                resolve: function(relative) {
                    var resolved = relative;
                    if (relative.charAt(0) == '~')
                        resolved = this._relativeRoot + relative.substring(2);
                    return resolved;
                }
            }
            $Url = new Url();
        </script>
       
         <link rel="stylesheet" href="~/Content/addis/Manager.css" type="text/css">
        <link rel="stylesheet" href="~/Content/addis/jquery-ui/smoothness/jquery-ui-1.7.2.poc.css" type="text/css">
        <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="~/Scripts/poc.common.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

        @*@Styles.Render("~/Content/addis/css")
        @Styles.Render("~/Content/addis/jquery/css")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>*@
       @RenderSection("headsection", required: false)
    </head>
    <body>
        @{
            Html.RenderPartial("_Header");
            Html.RenderPartial("MainMenu", ViewData["MenuViewData"]);
            Html.RenderPartial("Messages", ViewData["Messages"]);
        }
        <div id="contentcontainer">
            <div id="subcontentarea">
                <div id="taskarea">
                    @RenderSection("cphTasks", required: false)
                    @{ Html.RenderPartial("_AdminNavigation"); }
                </div>
               
            </div>
            <div id="contentarea">
                @RenderBody()
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
