﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/addis/css")
    @Styles.Render("~/Content/addis/jquery/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @{
        Html.RenderPartial("_Header");
        Html.RenderPartial("Messages", ViewData["Messages"]);
    }
    <div>
        @RenderBody()
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
