﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title :: PocLAB Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/addis/css")
        @Styles.Render("~/Content/addis/jquery/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            PocConfig.ContentDir = @Url.Content("~/Content/");
            PocConfig.ConfirmText = '@GlobalResources.AreYouSure';
        </script>
    </head>
    <body>
        @{
            Html.RenderPartial("_Header");
            Html.RenderPartial("MainMenu", ViewData["MenuViewData"]);
            Html.RenderPartial("Messages", ViewData["Messages"]);
        }
        <div id="contentcontainer">
            <div id="subcontentarea">
                <div id="taskarea">
                    @RenderSection("cphTasks", required: false)
                </div>
            </div>
            <div id="contentarea">
                @RenderBody()
            </div>
        </div>

    </body>
</html>
