﻿@model Poc.Web.Models.ViewModels.MenuItemData
            
<li @Html.Raw(@Model.IsSelected ? "class=\"selected\"" : @String.Empty)>
    <a href="@Model.Url">
        @if (! String.IsNullOrEmpty(Model.IconUrl)) { 
            <img src="@Model.IconUrl" alt="" />
        } 
        @ViewData.Model.Text </a>
    
	@if (Model.PopUpMenuItems.Count > 0)
	{
	    <div class="expander"><img src="@Url.Content("~/Content/Images/bullet_arrow_down.png")" alt="expand" /></div>
	    <ul>
	        @foreach (var subMenuItem in Model.PopUpMenuItems)
	        {
	            <li @Html.Raw(@subMenuItem.IsSelected ? "class=\"selected\"" : @String.Empty)>
	                 <a href="@subMenuItem.Url">
	                           @if (! String.IsNullOrEmpty(subMenuItem.IconUrl))
	                           {
	                               <img src="@subMenuItem.IconUrl" alt="" />
	                           }
	                           @subMenuItem.Text </a>
	            </li>
	        } 
	    </ul>
	}
</li>