﻿@model MenuItemData

    @if (Model.SideMenuItems.Count > 0)
    {
        <ul>
            @foreach (var subMenuItem in Model.SideMenuItems)
            {
                <li class="@subMenuItem.IsSelected ? 'selected' : @String.Empty ">
                    <a href="@subMenuItem.Url">
                        @if (!String.IsNullOrEmpty(subMenuItem.IconUrl))
                        {
                            <img src="@subMenuItem.IconUrl" alt="" />
                        }
                        @subMenuItem.Text
                    </a>
                </li>
            }
        </ul>
    }
