﻿
@model  MenuViewData 
<div id="mainmenu">
	@if (Model.StandardMainMenuItems.Count > 0) { 
	<div id="mainmenu-standard">
		<ul>
		@foreach(var menuItem in Model.StandardMainMenuItems) {  
			Html.RenderPartial("_MenuItem", menuItem); 
		} 
		</ul>
	</div>
	} 
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.expander').click(function(e) {
			e.stopPropagation();
			$(this).next('ul').slideToggle(100);
		});

		$(document).click(function() {
			$('.expander').next('ul:visible').slideToggle(100);
		});
	});
</script>