﻿@using System.Collections
@model IEnumerable<Role>

@GlobalResources.ViewRolesLabel 
@if (ViewData.ContainsKey("AllRoles")) { 
	<ul>
	@foreach (Role role in (IEnumerable)ViewData["AllRoles"]) { 
		<li>
			<input type="checkbox" name="ViewRoleIds" id="viewrole_@role.Id " value="@ViewData.Model.Any(p => p.RoleId == role.RoleId) ? 'checked' : @String.Empty"  />
			<label for="viewrole_@role.Id ">@role.Name </label>
		</li>
	} 
	</ul>
} 
