﻿@model IEnumerable<PocArea>

	 @if (ViewData.Model.Any())
	 {
	     <table class="grid" style="width: 100%">
	         <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MapColor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MapId)
                    </th>
                    <th></th>
                </tr>
	         </thead>
	         <tbody>
	             @foreach (var item in ViewData.Model)
                 {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MapColor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MapId)
                        </td>
                         <td style="white-space: nowrap">
	                         @Html.ActionLink(GlobalResources.EditLabel, "EditPocArea", "Area", new { id = item.Id }, new { @class = "abtnedit" }) 
	                         @using (Html.BeginForm("DeletePocArea", "Area", new { id = item.Id }, FormMethod.Post))
	                         { 
	                         <a href="#" class="abtndelete">@GlobalResources.DeleteButtonLabel </a>
	                         }
	                     </td>
	                 </tr>
	             } 
	         </tbody>
	     </table>
	 }
	
