﻿@model IEnumerable<Area>
@{
    Layout = null;
}

<fieldset>
    <legend>
        Areas 
        @if (Model.Count() < 6)
        {
            @:[ @Html.DialogFormLink(" Add New Area ", Url.Action("NewArea"), "Create Area", "areaContainer", Url.Action("Areas")) ]
        }
    </legend>
    <br/>
    <table class="grid">
        <tr>
            <th style="width: 300px">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th style="width: 300px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DialogFormLink(GlobalResources.EditLabel, Url.Action("EditArea", "Area", new { id = item.Id }), "Edit Area", "areaContainer", Url.Action("Areas"))|
                    @using (Html.BeginForm("DeleteArea", "Area", new { id = item.Id }, FormMethod.Post))
                    {
                        <a href="#" class="abtndelete">@GlobalResources.DeleteButtonLabel </a>
                    }
                </td>
            </tr>
        }
    </table>
</fieldset>

<fieldset>
    <legend> @ViewData["Level1AreaName"].ToString() [@Html.ActionLink("Add New", "NewPocArea", "Area", new { parentid=0})]</legend>
    <br/>
    @{ Html.RenderPartial("_PocAreas", ViewData["PocAreas"]); }
</fieldset>
