﻿@model Area

@using (Html.BeginForm("EditArea", "Area", new { id = Model.Id }, FormMethod.Post, new { id = "areaform" }))
{
    <fieldset>
        <legend>@GlobalResources.GeneralLabel</legend>
        <ol>
            <li>
                <label for="Name" >Name</label>
                @Html.TextBox("Name", ViewData.Model.Name)
            </li>
        </ol>
    </fieldset>
   
}

@Html.ClientSideValidation(ViewData.Model, "areaform")
