﻿@model Poc.Core.Entities.AdminModule.PocArea

@{
    ViewBag.Title = "EditPocArea";
    var parent = ViewData["ParentPocArea"] as PocArea;
    //var parentId = parent != null ? parent.Id : 0;
    var childAreaName = ViewData["ChildAreaName"] as string;
}

<h2>EditPocArea</h2>

@using (Html.BeginForm("EditPocArea", "Area", new { id = Model.Id }, FormMethod.Post, new { id = "pocareaform" }))
{
    <fieldset>
        <legend>@Model.Area.Name</legend>
        <ol>
            @if (parent != null)
            {
                <li>
                    <label>@parent.Area.Name</label>
                    <label>@parent.Name</label>
                </li>
            }
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.ShortName, "Short Name")
                @Html.EditorFor(model => model.ShortName)
            </li>

            <li>
                @Html.LabelFor(model => model.Code)
                @Html.EditorFor(model => model.Code)
            </li>
            <li>
                @Html.LabelFor(model => model.MapColor, "Map Color")
                @Html.EditorFor(model => model.MapColor)
            </li>
            <li>
                @Html.LabelFor(model => model.MapId, "Map Id")
                @Html.EditorFor(model => model.MapId)
            </li>
        </ol>
    </fieldset>

    <div id="buttonpanel">
        <input type="submit" class="abtnsave" value="@GlobalResources.SaveButtonLabel" />
        <string>@GlobalResources.Or</string>
        @if (parent == null)
        {
            @Html.ActionLink(GlobalResources.CancelLabel, "Index","Area", new { @class = "abtncancel" })
        }
        else
        {
            @Html.ActionLink(GlobalResources.CancelLabel, "EditPocArea", "Area", new { id = parent.Id }, new { @class = "abtncancel" })
        }
    </div>
}

@if (childAreaName != null)
{
    <fieldset>
        <legend>@childAreaName [ @Html.ActionLink("Add New", "NewPocArea",  new {parentid = Model.Id}) ]</legend>
        @{ Html.RenderPartial("_PocAreas", ViewData["PocAreas"]); }
    </fieldset>
}
    @section Scripts {
        @Html.ClientSideValidation(ViewData.Model, "pocareaform")
    }
