﻿@model Area

@using (Html.BeginForm("EditArea", "Area", new {id = 0}, FormMethod.Post, new {id = "areaform"}))
{
    <fieldset>
        <legend>New Area</legend>
        <ol>
            <li>
                <label for="Name" >Name</label>
                @Html.TextBox("Name", ViewData.Model.Name)
            </li>
        </ol>
    </fieldset>
}
@Html.ClientSideValidation(ViewData.Model, "areaform")
